.landing_page_logo {
    padding: 20px !important;
}
.btn-start {
  color: white !important;
  background-color: green !important;
  border-color: #03B5B0 !important;
}

.btn-start:hover,
.btn-start:focus,
.btn-start.focus,
.btn-start:active,
.btn-start.active,
.open > .dropdown-toggle.btn-start {
  color: black !important;
  background-color: #03B5B0 !important;
  border-color: #03B5B0 !important;
}

.top-buffer { margin-top:20px; }

p img {
padding: 0;
max-width: 100%;
height: auto;
}
#header, #content, #footer, .widget {
overflow: hidden;
}

.no-padding {
  margin:0 !important;
  padding:0 !important;
}

