{% extends "survival/base.html" %}
{% block content %}
<h2> {{ categories.count }} Categories so far</h2>
<p><button type="button" class="btn btn-success">Add Category</button></p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Subcategories</th>
        <th scope="col">Items</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <th scope="row">{{ category.id }}</th>
                <td>{{ category.name }}</td>
                <td>{{ category.subcategory_set.count }}</td>
                <td>{{ category.item_set.count }}</td>
                <td><button type="button" class="btn btn-link">Edit</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<h2> {{ items.count }}Items so far</h2>
<p><button type="button" class="btn btn-success">Add Item</button></p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Subcategory</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.subcategory }}</td>
                <td><button type="button" class="btn btn-link">Edit</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
