{% extends "survival/base.html" %}
{% block content %}
<h2> {{ categories.count }} Kategorien bis jetzt</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Unterkategorien</th>
        <th scope="col">Begriffe</th>
        <th scope="col">Aktionen</th>
      </tr>
    </thead>
    <tbody>
        {% for category in page_obj %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.subcategory_set.count }}</td>
            <td>{{ category.item_set.count }}</td>
            <td><a href="{% url 'category-detail' category.id %}" class="btn btn-link">Anzeigen</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Erste</a>
            <a href="?page={{ page_obj.previous_page_number }}">Vorherige</a>
        {% endif %}

        <span class="current">
            Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Nächste</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Letzte &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
