{% extends "survival/base.html" %}
{% block content %}
<h2> {{ categories.count }} Kategorien bis jetzt</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Unterkategorien</th>
        <th scope="col">Begriffe</th>
        <th scope="col">Aktionen</th>
      </tr>
    </thead>
    <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.subcategory_set.count }}</td>
                <td>{{ category.item_set.count }}</td>
                <td><a href="{% url 'category-detail' category.id %}" class="btn btn-link">Anzeigen</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
