{% extends "survival/base.html" %}

{% block content %}

    <div class="row">

        <div class="col-lg">
            <h1>ErsatzKompass</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img class="rounded float-left landing_page_logo"
                 src="/media/Logo_ErsatzKompass_square.png" width="250" height="250"
                 class="thumbnail">
        </div>
        <div class="col-lg">
            <p>Herzlich Willkommen</b> bei <b>ErsatzKompass</b></p>
            <p>Hier findest Du jede Menge Ideen und Tipps, um Zutaten in
                Rezepten ganz einfach zu ersetzen.
                Dadurch lassen sich Rezepte schnell abwandeln und an das anpassen, was Du gerade zur Verfügung hast.
                So ermöglichen wir es dir auch dann zu kochen, wenn Du nicht alles vorrätig hast oder etwas gerade
                nicht
                einkaufen
                kannst.<br><br>
                Und so geht’s:<br>
                Gib einfach in die Suche die gewünschte Zutat ein, z.B. „Eier“, oder wähle aus einer der Kategorien
                im
                „Lebensmittel“-Bereich ein Lebensmittel aus, für das Du einen Ersatz suchst: wir zeigen dir dann
                Alternativen.
                Wenn Du selbst eine Idee hast, wie eine Zutat durch eine andere ersetzt werden kann, hinterlasse
                gerne
                einen
                Kommentar, damit die Datenbank immer weiter wachsen kann.
                In den Bereichen „Hygiene" und „Freizeit" arbeiten wir daran, euch bald auch hier
                Ersatzmöglichkeiten zu
                zeigen.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            Entstanden im Rahmen von:</br>
            <img src="/media/logo_project.png" class="img-thumbnail">
        </div>
        <div class="col-lg-6">

        </div>
        <div class="col-lg-3">
            <a class="btn btn-success btn-lg btn-block float-right" href="{% url 'cs-categories' %}">Los geht's</a>
        </div>
    </div>
    <div class="row top-buffer">
        {% for item in items %}
            <div class="col-lg">
                <div class="card-body">
                    <h5 class="card-title">{{ item|truncatechars:9 }}</h5>
                    <p class="card-text">Hier findest Du einige Alternativen um {{ item|truncatechars:9 }} zu ersetzen.</p>
                    <a class="btn btn-primary" href="{% url 'item-detail' item.id %}">Lösung finden</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
