{% extends "survival/base.html" %}
{% block content %}
<div class="card">
    <h5 class="card-header">Substitution of {{ item }}</h5>
    <div class="card-body">
      <h5 class="card-title">Alternatives</h5>
        {% for item_sub in item.substitution_set.first.items_needed.all %}
            <p class="card-text">{{ item_sub }}</p>
        {% endfor %}
        <h5 class="card-title">Description</h5>
        <p class="card-text">{{ item.substitution_set.first.description_of_creation }}</p>
      <p><h5 class="card-title">Comments</h5></p>
      {% for comment in item.substitution_set.first.comments.all %}
            <p class="card-text">{{ comment }}</p>
        {% endfor %}
    </div>
  </div>
{% endblock content %}
