{% extends "survival/base.html" %}
{% block content %}
<h2> {{ items.count }} Begriffe bis jetzt</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Unterkategorie</th>
        {% if user.is_authenticated %}
            <th scope="col">Aktionen</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% for item in page_obj %}
            <tr>
                <th scope="row">{{ item.name }}</th>
                <td>{{ item.category }}</td>
                <td>{{ item.subcategory }}</td>
                <td><a href="{% url 'item-detail' item.id %}" class="btn btn-link">Anzeigen</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Erste</a>
            <a href="?page={{ page_obj.previous_page_number }}">Vorherige</a>
        {% endif %}

        <span class="current">
            Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Nächste</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Letzte &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}
