{% extends "survival/base.html" %}
{% block content %}
{% if not item.substitution_set.all %}
<p><h5>{{ item }} hat bisher keine Ersetzungen</h5></p>
{% else %}
<h2>Alternativen für {{ item }}</h2>
<br>
<div class="card">
    <div class="card-body">
        {% for item_sub in item.substitution_set.first.items_needed.all %}
            <p class="card-text">{{ item_sub }}</p>
        {% endfor %}
    </div>
    <h5 class="card-header">Beschreibung</h5>
    <div class="card-body">
        <p class="card-text">{{ item.substitution_set.first.description_of_creation }}</p>
    </div>
</div>
<p>
<div class="card">
  <h5 class="card-header">Kommentare</h5>
  <div class="card-body">
    {% for comment in item.substitution_set.first.comments.all %}
    <p class="card-text">{{ comment }}</p>
{% endfor %}
  </div>
  </div>
  </p>
{% endif %}
{% endblock content %}
