{% extends "survival/base.html" %}
{% block content %}
<h2> {{ items.count }}Items so far</h2>
{% if user.is_authenticated %}
    <p><button type="button" class="btn btn-success">Add Item</button></p>
{% endif %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Subcategory</th>
        {% if user.is_authenticated %}
            <th scope="col">Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.subcategory }}</td>
                {% if user.is_authenticated %}
                    <td><button type="button" class="btn btn-link">Edit</button></td>
                {% else %}
                    <td><button type="button" class="btn btn-link">Show</button></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
