{% extends "survival/base.html" %}
{% block content %}
<h2> {{ substitutions.count }} Substitutions so far</h2>
{% if user.is_authenticated %}
    <p><button type="button" class="btn btn-success">Add Item</button></p>
{% endif %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Missing Item</th>
        <th scope="col">Items needed</th>
        <th scope="col">Description</th>
        <th scope="col">Comments</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for substitution in substitutions %}
            <tr>
                <th scope="row">{{ substitution.id }}</th>
                <td>{{ substitution.item_missing }}</td>
                <td>{{ substitution.items_needed.count }}</td>
                <td>{{ substitution.description_of_creation }}</td>
                <td>{{ substitution.comment_set.count }}</td>
                {% if user.is_authenticated %}
                    <td><button type="button" class="btn btn-link">Edit</button></td>
                {% else %}
                    <td><button type="button" class="btn btn-link">Show</button></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
